html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Jost', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: rgb(192, 192, 192);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
}

.main .title {
    font-size: 1.6vw;
    font-weight: 500;
    color: rgb(1, 1, 1);
    margin-top: 0;
}

.main .input_form {
    font-family: Jost;
    font-weight: 500;
    font-size: 1.4vw;
    outline: none;
    border: 1px solid rgb(97, 97, 97);
    background: rgb(57, 57, 57);
    color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.main textarea {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 30%;
    height: 10%;
    resize: none;
    padding: 0 1vw 0 1vw;
    margin-bottom: 1%;
    overflow: auto;
}

.main .upload_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main .upload_form .upload_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.main .upload_form .upload_file + label {
    padding: 0.5% 1% 0.5% 1%;
    margin-bottom: 1%;
    font-family: Jost;
    font-weight: 500;
    font-size: 1.3vw;
    background: rgb(57, 57, 57);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    outline: none;
    cursor: pointer;
}

.main .upload_form .buttons .button_block:hover,
.main .upload_form .upload_file + label:hover,
.main .upload_form #download:hover {
    background: rgb(220, 20, 60);
}

.main .upload_form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5%;
    width: 30%;
    margin-bottom: 1%;
}

.main .upload_form .buttons .button_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-top: 1%;
    font-size: 1.3vw;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    background: rgb(57, 57, 57);
    cursor: pointer;
}

.main .upload_form #status {
    margin-top: 1%;
    color: black;
    font-weight: 500;
    font-size: 1.3vw;
}

.main .upload_form #download {
    display: none;
    padding: 0.5% 1% 0.5% 1%;
    font-family: Jost;
    font-weight: 500;
    font-size: 1.3vw;
    background: rgb(57, 57, 57);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    outline: none;
    cursor: pointer;
}

.main .upload_form .buttons #enc_button {
    display: none;
}

.main .upload_form .buttons #dec_button {
    display: none;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:visited {
    color: rgb(255, 255, 255);
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
